<div id="wrapper">
<div class="topnav">
  <div class="container-fluid">
    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
      <div class="collapse navbar-collapse" id="topnav-menu-content">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard" role="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fe-home me-1"></i> Home
              <div class="arrow-down"></div>
            </a>
            <div class="dropdown-menu" aria-labelledby="topnav-dashboard">
              <a href="{% url 'dashboardIndex' %}" class="dropdown-item">Dashboard</a>
              <a href="{% url 'all_subdomains' %}" class="dropdown-item">All Subdomains</a>
              <a href="{% url 'all_endpoints' %}" class="dropdown-item">All Endpoints</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
